/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Variabili globali */
:root {
    --blue-accent: #0084fd;
    --blue-light: #b5ddff;
    --purple: #9792e4;
    --yellow-accent: #fdc15f;
}


/******** HEADER *******/
/* Mobile First  */
header{
    width: 100%;
    background-color: var(--blue-accent);
    position: fixed;
    top: 0;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 15px 0;   
}

.nav-full{
    display: none;
}

.hamburger{
    color: white;
    font-size: 20px;
}

/* Tablet Responsive */
@media all and (min-width: 768px){
    .container{
        width: 90%;
        margin: 0 auto;
    }
}


/* Desktop Responsive */
@media all and (min-width: 992px){
    .container{
        width: 70%;
        margin: 0 auto;
    }

    .hamburger{
        display: none;
    }

    .nav-full{
        display: inline-block;
        color: white;
    }

    .nav-full ul{
        list-style: none;
    }

    .nav-full ul li{
        display: inline-block;
        margin: 0 10px;
    }

    .nav-full ul li:last-child{
        color: black;
        background-color: white;
        padding: 5px 12px;
        border-radius: 30px;
    }
}
/******* END HEADER *******/

main{
    margin-top: 100px;
}

/******* MAIN SECTIONS *******/
/* First section - Features */
/* Mobile First  */
#features{
    padding: 20px 0 70px;
}

.icon-box{
    background-color: var(--blue-light);
    padding: 30px;
    border-radius: 20px;
}

#features h3{
    font-size: 21px;
    color: var(--blue-accent);
    margin-bottom: 30px;
}

#features p{
    color: #5b6f80;
    font-weight: bold;
    font-size: 14px;
    line-height: 2;
}

.apple-button{
    text-align: center;
    background-color: var(--blue-accent);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 30px 0;
    width: 85%;
}

.apple-icon{
    margin-right: 5px;
}

#features img{
    width: 100%;
    margin-bottom: -34px;
}

.flex-wrap{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.icon-accent{
    font-size: 80px;
    color: var(--blue-accent);
    /* text-align: center; */
    margin-bottom: 20px;
}

#clean-code-box, #web-design-box,
#development-box, #branding-box{
    text-align: center;
}

/* Tablet Responsive */
@media all and (min-width: 768px){
    .icon-box{
        width: 30%;
        padding: 30px 15px;
    }

    #demo{
        width: 65%;
    }

    #features img {
        width: 60%;
    }

    .apple-button{
        width: 55%;
    }
}

/* Desktop Responsive */
@media all and (min-width: 992px){
    #demo{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #features img {
        width: 100%;
        align-self: flex-end;
        margin-bottom: -73px;
    }

    #features p{
        font-size: 11px;
    }

    .icon-box{
        padding: 10px 15px;
    }

    .apple-button{
        width: 60%;
    }
}
/* End First Section - Features icon box */

/* Second section - Planning */
/* Mobile First  */
#planning{
    background-color: var(--purple);
    padding: 70px 0;
}

#planning img{
    width: 100%;
}

#planning .col-1{
    color: white;
}

#planning .col-1 h3{
    font-size: 29px;
    margin: 60px 0 40px;
}

#planning .col-1 p{
    font-size: 14px;
    line-height: 2;
    margin-bottom: 30px;
}

#planning .col-2{
    background-color: white;
    padding: 30px 10px 70px;
    border-radius: 35px;
    text-align: center;
}

.col-2 .title-card{
    margin: 10px 0;
    font-weight: 900;
}

.col-2 .text-card{
    font-style: italic;
}

.col-2 .icon-card{
    padding: 10px 14px;
    background-color: var(--purple);
    border-radius: 100%;
    position: relative;
    top: 34px;
}

/* Tablet Responsive */
@media all and (min-width: 768px){
    #planning .col-1 h3 {
        font-size: 60px;
        margin: 60px 0 40px;
    }
}

/* Desktop Responsive */
@media all and (min-width: 992px){
    .flex-content{
        display: flex;
        gap: 50px;
        align-self: flex-end;
    }

    #planning .col-1 h3 {
        font-size: 29px;
        margin: 60px 0 40px;
    }

    #planning .col-2 {
        align-self: flex-end;
    }

    #planning img{
        width: 85%;
    }
}
/* End Second Section - Planning */

/* Third section - Testimonials */
/* Mobile First */
#testimonials{
    padding: 70px 0;
    text-align: center;
}

h3.subtitle{
    font-weight: 400;
    font-size: 18px;
}

h2.title{
    color: var(--purple);
    font-size: 29px;
    margin: 20px 0;
}

p.intro{
    margin-bottom: 30px;
    line-height: 1.8;
}

.testimonial-box{
    background-color: var(--purple);
    padding: 30px 10px;
    border-radius: 30px;
    color: white;
    margin-bottom: 30px;
}

.testimonial-box .user{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.testimonial-box p{
    line-height: 1.8;
}

.testimonial-box .name{
    font-weight: 900;
    margin-top: 20px;
}

/* Tablet Responsive */
@media all and (min-width: 768px){
    .flex-card{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }

    .image-box{
        width: 30%;
    }

    .data-box{
        text-align: left;
    }
}
/* Desktop Responsive - Inherit from Tablet */
/* End Third Section - Testimonials */

/* Fourth section - Benefits */
/* Mobile First */
#benefits{
    background-color: var(--purple);
    padding: 50px 0;
}

#benefits h2.title {
    color: white;
    text-align: center;
    font-size: 32px;
    margin-bottom: 50px;
}

.number-card{
    background-color: white;
    padding: 20px;
    border-radius: 30px;
}

.number{
    font-size: 50px;
    font-weight: bold;
    color: var(--purple);
}

.benefit-type{
    font-size: 25px;
    color: var(--purple);
    margin: 20px 0;
    font-weight: bold;
}

.text-number-card{
    color: #919191;
    line-height: 1.5;
}

#benefits .button{
    text-align: center;
    background-color: var(--purple);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 20px 0;
    width: 65%;
    letter-spacing: 2px;
    font-weight: bold;
}

/* Tablet Responsive */
@media all and (min-width: 768px){
    .number-card{
        width: 47%;
    }

    .flex-wrap {
        gap: 40px;
    }
}